body {
  margin: 0;
  padding: 0;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f5f6;
}

.box {
  width: 200px;
  height: 200px;
}

.textContainer {
  position: absolute;
  /* @media only screen and (max-width: 480px) {
    width: 400px;
  } */
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
  }
}

.workButton {
  background-color: #06d6a0;
}

.workButton:hover {
  background-color: #0ac593;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}

.date {
  text-align: left;
}

@media only screen and (min-width: 480px) {
  .date {
    color: #a40052;
  }
}

@media only screen and (min-width: 1170px) {
  .date {
    color: white;
  }
}

#description {
  margin: 1.5em 0 2em 0;
  text-align: left;
}

.hello {
  z-index: 50;
}

/* .project-container {
  display: flex;
  flex-wrap: wrap;
}

.project-box {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.project-box h2 {
  margin: 0;
  font-size: 1.2rem;
}

.project-box a {
  text-decoration: none;
  color: #333;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-box:hover a {
  opacity: 1;
} */

.project-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-card {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.project-card h2 {
  margin: 0;
  font-size: 1.2rem;
}

.project-card a {
  text-decoration: none;
  color: #333;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card:hover a {
  opacity: 1;
}

@media (max-width: 768px) {
  .project-card {
    width: 100%;
    max-width: 300px;
  }
}
